<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.productivity-tools.whisper-daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{PYTHON_PATH}}</string>
        <string>{{INSTALL_DIR}}/whisper_daemon.py</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{PYENV_BIN}}:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>10</integer>
    <key>StandardOutPath</key>
    <string>{{INSTALL_DIR}}/whisper_daemon.log</string>
    <key>StandardErrorPath</key>
    <string>{{INSTALL_DIR}}/whisper_daemon.err</string>
</dict>
</plist>
